<div class="container-lg mt-5 mb-4">

    <div class="table-wrapper text-center">

        <div class="row text-center">

            <h2>Utilisateurs</h2>

        </div>

        <table class="table table-bordered border-dark">
            <thead>
                <tr class="text-center">
                    <th>Nom</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {{#each data}}
            <tbody>
                <tr>
                    <td>{{name}}</td>
                    <td>{{role}}</td>
                    <td>{{email}}</td>
                    <td class="text-center">
                        <a class="btn btn-primary " href="/updateUser/{{_id}}">Modifier</a>
                        <form method="POST" enctype="application/x-www-form-urlencoded"
                            action="/deleteUser/{{_id}}/?_method=delete">
                            <button onclick='return confirm("Êtes-vous sûr de vouloir supprimer?")' type="submit"
                                class="btn btn-danger ">Supprimé</button>
                        </form>
                    </td>
                </tr>

            </tbody>
            {{/each}}

        </table>
    </div>

</div>